asgiref
certifi
charset-normalizer
click
colorama
cryptography
drf-jwt
Django
django-environ
django-cors-headers
djangorestframework
djangorestframework-jwt
djangorestframework-simplejwt
idna
joblib
mysqlclient
nltk
numpy
pandas
PyJWT
python-dateutil
python-decouple
pytz
regex
requests
six
sqlparse
tqdm
tzdata
urllib3
vaderSentiment
